.square {
    background-color: white;
    border: 1px solid #999;
    font-size: 24px;
    height: 34px;
    margin-right: -1px;
    margin-top: -5px;
    padding: 0;
    text-align: center;
    width: 34px;
}